@font-face {
  font-family: "inter-ui-regular";
  src: url("./assets/inter-ui-regular.woff");
}

@font-face {
  font-family: "inter-ui-medium";
  src: url("./assets/inter-ui-medium.woff");
}

@font-face {
  font-family: "inter-ui-bold";
  src: url("./assets/inter-ui-bold.woff");
}

*::selection {
  background: rgba(35, 131, 226, 0.28);
}

*::-moz-selection {
  background: rgba(35, 131, 226, 0.28);
}

body {
  margin: 0;
  font-family: 'inter-ui-regular', 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
    background: transparent;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #D3D1CB;
}
::-webkit-scrollbar-track {
    background: #EDECE9;
}
